.booksList{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: 15%;
}
.allBooks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-color: rgb(208, 216, 197);
}
.bookCard{
    position: relative;
    width: 85%;
    left: -5vw;
    top: 10vh;    
    margin-bottom: 15vh;
}
.seeMoreOrLess,.pushToReadings{
    font-size: 22px;
    background-color: transparent;
    border: none;
}
.bookCardDetails{
    text-align: left;
    height: 45vh;
    margin-left: 17vw;
}
.description{
    width: 25vw
}