.completedList{
    background-color: #d0d8c5;
    height: 60vh;
    margin-top: -2.5vh;
}
.completedBooks{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.completedBookCard{
    width: 42%;
    height: 130vh;
    margin: 3%;
}
.deleteCompleted{
    font-size: 22px;
    background-color: transparent;
    border: none;
}