.mainNavbar{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logoHeader{
    font-family: 'Cinzel Decorative';
    font-size: 35px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.logoSubHeader{
    font-family: 'Gayathri';
    font-weight: unset;
    letter-spacing: 3px;
    font-size: 14px;
} 
a{
    text-decoration: none;
    color: black;
}
.mainNavbar li{
    list-style-type: none;
    padding: 20px;
    font-size: 22px;
    line-height: 2;
    font-weight: bold;
}
.popUP{
    width: 50%;
    height: 70vh;
    background: rgb(252, 219, 224);
    position: fixed;
    z-index: 99;
    top: 15vh;
    left: 35vw;
} 
.yesBtn, .noBtn{
    font-size: 25px;
}
.yesBtn:hover, .noBtn:hover {
    background-color: red;
    color: white;
} 
.logoutBtn{
    font-family: "Gayathri";
    font-size: 22px;
    background-color: transparent;
    border: none;
    font-weight: bold;
}